<style> 
    .img{
        position: absolute;
        z-index: -3;
        top: 0px;
        background-image: url('/img/misionyvision1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .centradoMain {
        height: 100vh;
        width: 100%;
        
    }

    .centradoMain h1 {
        margin-top: 3rem;
        font-size: 3.5rem;
    }
</style>

<main class="img">
    <div class="centradoMain d-flex justify-content-center align-items-center">
        <div class=>
            <h1 class="text-center" style="color: #ff6308;">Gestion de Proyectos de Grado</h1>
            <h5 class="text-center mt-3" style="color: #ffffff;">Sistema Integrado para Administracion de Proyectos de Grado</h5>
        </div>
    </div>
</main>