<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio de Sesión</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        <div style="width: 100%">
            <div class="container mb-5" style="max-width: 800px">
                <div class="header">
                    <h1>Titulos de Propuestas de Grado</h1>
                </div>
                <form class="registration-form">
                    <div class="mb-4">
                        <div class="input-group full-width">
                            <label>Titulo</label>
                            <input type="text" placeholder="Titulo" required>
                        </div>
                        <button type="submit" class="signup-btn">Guardar Titulo</button>
                    </div>
                </form>
            </div>
             
            <!-- 
            
            <div class="container mb-4" style="max-width: 800px">
                <div class="header d-flex justify-content-between">
                    <h1>Titulo I</h1>
                    <div><button class="btn btn-danger btn-sm mt-2">X</button></div>
                </div>
                <p class="h6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat recusandae voluptatum blanditiis!</p>
            </div>  
            
            -->
            
        </div>
    </body>
</html>