<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container" style="max-width: 500px">
        <div class="header">
            <h1>Iniciar Sesión</h1>
        </div>
        <form class="registration-form">
            <div class="form-grid">
                <div class="input-group full-width">
                    <label>Cédula</label>
                    <input type="number" placeholder="Cédula" required>
                </div> 
                <div class="input-group full-width">
                    <label>Contraseña</label>
                    <input type="password" placeholder="••••••••••" required>
                </div>
            </div>

            <button type="submit" class="signup-btn">Iniciar Sesión</button>
        </form>

        <div class="login-link">
        ¿Aún no tienes una cuenta? <a href="signup.html">Registrarse</a>
        </div>
    </div>
</body>
</html>