<div class="container" style="max-width: 500px">
    <div class="header">
        <img src="/img/unellez.png" width="140px" height="140px" alt="">
        <h1>Cambiar Contraseña</h1>
    </div>

    <form action="/cambioPassword" class="registration-form" method="POST">
        <div class="form-grid">
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="••••••••••" required>
            </div> 
            <div class="input-group">
                <label>Confirmar Contraseña</label>
                <input type="password" name="confirmarPassword" placeholder="••••••••••" required>
            </div> 
        </div>

        <button type="submit" class="signup-btn">Cambiar</button>
    </form>
</div>