<div class="container" style="max-width: 500px">
    <div class="header">
        <img src="/img/unellez.png" width="140px" height="140px" alt="">
        <h1 class="mt-4">Código de Verificación</h1>
        <p>Introduzca el código que fue enviado al Correo</p>
    </div>
    <form action="/insertCod" class="registration-form" method="POST">
        <div class="form-grid mt-5">
            <div class="input-group full-width">
                <label>Ingese el Código de Verificación</label>
                <input name="codigo" type="number" placeholder="Ingresar Código de Verificación" required>
            </div>
        </div>

        <button type="submit" class="signup-btn">Enviar</button>
    </form>
</div>