<div class="container" style="max-width: 500px">
    <div class="header">
        <img src="/img/unellez.png" width="140px" height="140px" alt="">
        <h1 class="mt-4">Recuperar Contraseña</h1>
    </div>
    <form action="/recuperarCedula" class="registration-form" method="POST">
        <div class="form-grid mt-5">
            <div class="input-group full-width">
                <label>Ingese su Cédula</label>
                <input name="cedula" type="number" placeholder="Ingresar Cédula" required>
            </div>
        </div>

        <button type="submit" class="signup-btn">Enviar Código</button>
    </form>
</div>